*, html{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Noto Serif JP', serif;
}

@import 'sass/colors';

body{background-color: $white;}

.nav {
    width: 100%;
    min-height: 12vh;
    max-height: 200px;
    background-color: $darkBlue;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        font-style: italic;
        display: inline-block;
        padding: 12px;
        color: $white;
        letter-spacing: 0.2em;
    }
}

.container-summary{
    padding: 16px 20px;
    margin-bottom: 40px;

    .summary{
        margin: auto;
        max-width: 100%;
        padding: 12px 20px;
        overflow: auto;
        height: 65vh;
        border: 0.12em solid $black;
        border-radius: 30px;
        font-size: 18px;
        font-weight: 600;

        h3{
            color: $darkGrey;
            text-decoration: 0.1em underline $darkGrey;
            margin-bottom: 20px;
            text-align: center;
            font-size: 25px;
            font-weight: bolder;
            font-style: oblique;
            letter-spacing: 0.06em;
        }
    
        a{
            color: $black;
            text-decoration: none;
            font-size: 17px;
            line-height: 2em;
    
            &:hover{
                text-decoration: underline;
                
            }

        }

        .topic-main-one{text-indent: 1.5em;}
        .topic-child-main-one{text-indent: 2.5em;}
        .topic-child-main-two{text-indent: 3.5em;}
        .topic-child-main-three{text-indent: 4.5em;}
        .topic-child-main-four{text-indent: 5.5em;}
        .topic-child-main-five{text-indent: 6.5em;}
        

    }
}

.container-main-one{
    padding: 12px 10px;
    max-height: 420vh;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    h2{
        text-align: center;
        color: $black;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 0.05em;
    }

    h3{
        text-align: left;
        margin-left: 50px;
        font-size: 23px;
        font-weight: 600;
        padding: 20px;
        letter-spacing: 0.06em;
    }

    p{
        font-size: 18px;
        margin: 12px;
        line-height: 1.7em;
    }

    .container-child-img-text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 100%;

    }
}

.container-main-two{
    padding: 16px 20px;
    margin-bottom: 40px;
    margin-top: 20px;

    h2{
        text-align: center;
        color: $black;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 0.05em;
    }

    h3{
        text-align: left;
        margin-left: 50px;
        font-size: 23px;
        font-weight: 600;
        padding: 20px;
        letter-spacing: 0.06em;
    }

    p{
        font-size: 18px;
        margin: 12px;
        line-height: 1.7em;
    }

}

.container-main-three{
    padding: 16px 20px;
    margin-bottom: 40px;
    margin-top: 20px;

    h2{
        text-align: center;
        color: $black;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 0.05em;
    }

    h3{
        text-align: left;
        margin-left: 50px;
        font-size: 23px;
        font-weight: 600;
        padding: 20px;
        letter-spacing: 0.06em;
    }

    p{
        font-size: 18px;
        margin: 12px;
        line-height: 1.7em;
    }

}

footer{
    text-align: center;
    font-size: 21px;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 2px;
    margin: 20px;

    img{
        max-width: 100%;
        margin: 12px;
        margin-bottom: 0px;
    }
}