@import 'sass/colors';

*,
html {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Noto Serif JP', serif;

    ::selection {
        background: $yellow;
        color: $blue-Two;
    }
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: $white;
}

.nav {
    width: 100%;
    min-height: 10vh;
    max-height: 200px;
    background-color: $darkBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;

    h1 {
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        font-style: italic;
        display: inline-block;
        padding: 12px;
        color: $white;
        letter-spacing: 0.2em;
    }
}

.container-summary {
    padding: 16px 20px;
    margin-bottom: 40px;

    .summary {
        margin: auto;
        max-width: 100%;
        padding: 12px 20px;
        overflow: auto;
        height: 65vh;
        border: 0.12em solid $black;
        border-radius: 30px;
        font-size: 18px;
        font-weight: 600;

        h3 {
            color: $darkGrey;
            text-decoration: 0.1em underline $darkGrey;
            margin-bottom: 20px;
            text-align: center;
            font-size: 25px;
            font-weight: bolder;
            font-style: oblique;
            letter-spacing: 0.06em;
        }

        a {
            color: $black;
            text-decoration: none;
            font-size: 17px;
            line-height: 2em;
            font-weight: 600;
            letter-spacing: 1px;

            &:hover {
                text-decoration: underline;
                color: $blue;
            }

        }

        .topic-main-one {text-indent: 1.5em;}
        .topic-child-main-one {text-indent: 2.5em;}
        .topic-child-main-two {text-indent: 3.5em;}
        .topic-child-main-three {text-indent: 4.5em;}
        .topic-child-main-four {text-indent: 5.5em;}
        .topic-child-main-five {text-indent: 6.5em;}

    }
}

.buttonUp{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #eeeeef;
}

.container-main-one {
    padding: 12px 10px;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    h2 {
        text-align: center;
        color: $black;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 0.05em;
    }

    h3 {
        text-align: left;
        margin-left: 50px;
        font-size: 23px;
        font-weight: 600;
        padding: 20px;
        letter-spacing: 0.06em;
    }

    p {
        font-size: 18px;
        margin: 16px;
        line-height: 1.7em;
    }

    .container-main-image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        .container-img{
            display: flex;
            justify-content: center;
            align-items: center;

            max-width: 780px;
            height: 460px;
    
            img{
                object-fit: cover;
                max-width: 100%;
                max-height: 100%;
                border: 1px solid $black;
            }
        }
    }

}

.container-main-two {
    padding: 16px 20px;
    margin-bottom: 40px;
    margin-top: 20px;

    h2 {
        text-align: center;
        color: $black;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 0.05em;
    }

    h3 {
        text-align: left;
        margin-left: 50px;
        font-size: 23px;
        font-weight: 600;
        padding: 20px;
        letter-spacing: 0.06em;
    }

    p {
        font-size: 18px;
        margin: 16px;
        line-height: 1.7em;
    }

    .container-main-image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        .container-img{
            display: flex;
            justify-content: center;
            align-items: center;

            max-width: 780px;
            height: 460px;
    
            img{
                object-fit: cover;
                max-width: 100%;
                max-height: 100%;
                border: 1px solid $black;
            }
        }
    }

    .container-command-image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        .container-command{
            display: flex;
            justify-content: center;
            align-items: center;

            max-width: 780px;
            height: 150px;
    
            img{
                object-fit: cover;
                max-width: 100%;
                max-height: 100%;
                border: 1px solid $black;
            }
        }
    }
    

}

.container-main-three {
    padding: 16px 20px;
    margin-bottom: 40px;
    margin-top: 20px;

    h2 {
        text-align: center;
        color: $black;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 0.05em;
    }

    h3 {
        text-align: left;
        margin-left: 50px;
        font-size: 23px;
        font-weight: 600;
        padding: 20px;
        letter-spacing: 0.06em;
    }

    p {
        font-size: 18px;
        margin: 16px;
        line-height: 1.7em;
    }

    .container-main-image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        .container-img{
            display: flex;
            justify-content: center;
            align-items: center;

            max-width: 780px;
            height: 460px;
    
            img{
                max-width: 100%;
                max-height: 100%;
                border: 1px solid black;
            }
        }
    }

}

.container-main-four{
    padding: 16px 20px;
    margin-bottom: 40px;
    margin-top: 20px;

    h2 {
        text-align: center;
        color: $black;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 0.05em;
    }

    h3 {
        text-align: left;
        margin-left: 50px;
        font-size: 23px;
        font-weight: 600;
        padding: 20px;
        letter-spacing: 0.06em;
    }

    p {
        font-size: 18px;
        margin: 16px;
        line-height: 1.7em;
    }

    ol {
        margin-left: 31px;

        li{
            font-size: 18px;
            font-weight: 600;
            font-style: italic;
        }
    }

    .container-command-image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        .container-command{
            display: flex;
            justify-content: center;
            align-items: center;

            max-width: 780px;
            height: 150px;
    
            img{
                object-fit: cover;
                max-width: 100%;
                max-height: 100%;
                border: 1px solid $black;
            }
        }
    }

}

footer {
    text-align: center;
    font-size: 21px;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 2px;
    margin: 20px;

    img {
        max-width: 100%;
        margin: 12px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 900px) {
    .container-main-one{
        h3{margin: 0px;}
    }

    .container-main-two{
        h3{margin: 0px;}
    }

    .container-main-three{
        h3{margin: 0px;}
    }

    .container-main-four{
        h3{margin: 0px;}
    }
}