*,
html {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
}

* ::-moz-selection,
html ::-moz-selection {
  background: #ffb839;
  color: #1875cf;
}

* ::selection,
html ::selection {
  background: #ffb839;
  color: #1875cf;
}

body {
  background-color: #fff;
}

.nav {
  width: 100%;
  min-height: 12vh;
  max-height: 200px;
  background-color: #023757;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  display: inline-block;
  padding: 12px;
  color: #fff;
  letter-spacing: 0.2em;
}

.container-summary {
  padding: 16px 20px;
  margin-bottom: 40px;
}

.container-summary .summary {
  margin: auto;
  max-width: 100%;
  padding: 12px 20px;
  overflow: auto;
  height: 65vh;
  border: 0.12em solid #000;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
}

.container-summary .summary h3 {
  color: #282828;
  -webkit-text-decoration: 0.1em underline #282828;
          text-decoration: 0.1em underline #282828;
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  font-style: oblique;
  letter-spacing: 0.06em;
}

.container-summary .summary a {
  color: #000;
  text-decoration: none;
  font-size: 17px;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: 1px;
}

.container-summary .summary a:hover {
  text-decoration: underline;
  color: #277dff;
}

.container-summary .summary .topic-main-one {
  text-indent: 1.5em;
}

.container-summary .summary .topic-child-main-one {
  text-indent: 2.5em;
}

.container-summary .summary .topic-child-main-two {
  text-indent: 3.5em;
}

.container-summary .summary .topic-child-main-three {
  text-indent: 4.5em;
}

.container-summary .summary .topic-child-main-four {
  text-indent: 5.5em;
}

.container-summary .summary .topic-child-main-five {
  text-indent: 6.5em;
}

.container-main-one {
  padding: 12px 10px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-main-one h2 {
  text-align: center;
  color: #000;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.container-main-one h3 {
  text-align: left;
  margin-left: 50px;
  font-size: 23px;
  font-weight: 600;
  padding: 20px;
  letter-spacing: 0.06em;
}

.container-main-one p {
  font-size: 18px;
  margin: 16px;
  line-height: 1.7em;
}

.container-main-one .container-main-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-main-one .container-main-image .container-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 780px;
  height: 460px;
}

.container-main-one .container-main-image .container-img img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid black;
}

.container-main-two {
  padding: 16px 20px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.container-main-two h2 {
  text-align: center;
  color: #000;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.container-main-two h3 {
  text-align: left;
  margin-left: 50px;
  font-size: 23px;
  font-weight: 600;
  padding: 20px;
  letter-spacing: 0.06em;
}

.container-main-two p {
  font-size: 18px;
  margin: 16px;
  line-height: 1.7em;
}

.container-main-two .container-main-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-main-two .container-main-image .container-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 780px;
  height: 460px;
}

.container-main-two .container-main-image .container-img img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid black;
}

.container-main-three {
  padding: 16px 20px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.container-main-three h2 {
  text-align: center;
  color: #000;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.container-main-three h3 {
  text-align: left;
  margin-left: 50px;
  font-size: 23px;
  font-weight: 600;
  padding: 20px;
  letter-spacing: 0.06em;
}

.container-main-three p {
  font-size: 18px;
  margin: 16px;
  line-height: 1.7em;
}

.container-main-three .container-main-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-main-three .container-main-image .container-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 780px;
  height: 460px;
}

.container-main-three .container-main-image .container-img img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid black;
}

footer {
  text-align: center;
  font-size: 21px;
  font-weight: 800;
  font-style: italic;
  letter-spacing: 2px;
  margin: 20px;
}

footer img {
  max-width: 100%;
  margin: 12px;
  margin-bottom: 0px;
}
/*# sourceMappingURL=style.css.map */